h2 ~ ul {
    width: 1000px;
    padding: 25px;
    border: 25px solid #cc0066;
    margin: auto;
	border-style: double
	
}
h2 + ol{
	width: 500px;
    padding: 30px;
    border: 10px solid #ccffcc;
    margin: auto;
	border-style: dashed
	
}
header > h1 {
	width: 1000px;
    padding: 30px;
    border: 10px solid #FFFF66;
    margin: auto;
	border-style: solid; 
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:45px;
	color:#CCFF99;
	text-align: center;
}
h2 {
	width: 500px;
    padding: 30px;
    border: 10px solid #99FFCC;
    margin: auto;
	border-style: dotted;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:30px;
	color:#CCFF99;
	text-align: center;
}
body{
	background-image: url(http://38.media.tumblr.com/e5da3cb3fbe9af8f2198f3459e72424a/tumblr_inline_mwbs2ymEnk1qkc0d3.png);
}
ol{
	font-family:"Times New Roman", Times, serif;
	font-size:15px;
	color:#CCFF66;
}

	
