h1{
	font-family:Lucidatypewriter, monospace;
	font-size:45px;
	color:#66CCCC;
	background-color:#000000; 
	border: solid 10px #99FFCC;	
	
}
h2{
	font-family:Verdana, sans-serif;
	font-weight:600;
	color:#CCFFCc;
	background-color:#000000;
	font-size: 35px;
}
main{
	font-family:Verdana, sans-serif;
	font-size: 25px;
	background-color:#000000;
	color: #FF6666;
footer{
	font-family: Fixed, monospace;
	font-size: 21px;
	background-color:#B8B8B8;
	color: 

