

h1{
	font-family:Impact,charcoal,sans-serif;
	font-size:60px;
	color:yellow;
	background-color:purple; 
	
	
}

p{
	font-family:Impact,charcoal,sans-serif;
	font-size: 50px;
	color: blue;
	background-color: white;

